

/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;   
    width: 100%;
    margin: auto;
}

:root {
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --white: white;
    --darkgrey: #2c2c2c;
    --lightgrey: #dadada;
    --accentColour: #89571a;
    --hoverAccent: #f6b466;
    --themeColour: hsl(33, 89%, 85%);
}





/* Header Styling */
header {
    background-color: white;
    display: flex;
    align-items: center;
    height: 40px;
}


/* Font Styling */
h1 {
    font-size: 1.4em;
    margin: 5px 15px 0 10px;
    display: inline;
    align-self: flex-start;
}

h1, h2, h3 {
    font-family: var(--font);
    font-weight: 500;
}

h2 {
    font-weight: 100;
}

h3 {
    margin: 0 0 10px;
}

p, input, select, button {
    font-family: var(--font2);
    font-weight: 500;
}





/* Nav Styling */
nav ul {
    position: absolute;
    top: 5px;
    list-style-type: none;
}

#menuIcon>img:hover {
    cursor: pointer;
}

#menuIcon img {
    width: 25px;
    margin-top: 2px;
    padding: 5px;
}

nav ul div {
    scale: 0;
    font-size: 0.8em;
    background-color: white;
    position: relative;
    top: 3px;
}

nav ul div li {
    padding: 15px;
    transition: background-color 200ms;
}

nav ul div li:hover {
    background-color: var(--hoverAccent)
}





/* Hero Banner Styling */
.heroBanner {
    width: 100vw;
    max-height: 737px;
    overflow: hidden;
    margin-bottom: 50px;
}

.heroBanner img {
    height: 737px;
    object-fit: cover;
    width: 100%;
}



/* 

Main Content Styling 

*/
.contentContainer {
    margin: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    width: 80%;
    gap: 10px;
}

.contentContainer h2 {
    margin: 0 0 40px;
}






/* Table Styling */
.listings-header {
    display: flex;
    justify-content: space-between;
}

.listings h2 {
    color: var(--darkgrey);
    width: max-content;
}

#searchIcon:hover {
    cursor: pointer;
}

.listings {
    border: 1px solid var(--lightgrey);
    padding: 20px;
}

table {
    border-collapse: collapse;
    margin: 0 0 40px;
    width: 100%;
}


thead {
}

thead td {
    text-align: start;
}

td {
    font-size: 0.8em;
    border: 1px solid var(--lightgrey);
    padding: 7px 9px;
}



td.hasDiscount:after {
    content: '-15%';
    background-color: green;
    color: white;
    padding: 2px;
    border-radius: 3px;
    text-align: end;
    margin-left: 5px;
}





/* 

Search Form Styling 

*/
.search-header {
 display: flex;
 justify-content: space-between;
}

#returnIcon:hover {
    cursor: pointer;
}


.searchContainer {
    grid-column: 1;
    border: 1px solid var(--lightgrey);
    padding: 20px;
}

.searchContainer input[type='text'] {
    width: 60%;
}

.searchContainer button {
    padding: 6px;
}

.searchBar {
    display: flex;
}


.searchContainer > form > div {
    gap: 5px;
}

.searchContainer > .reply {
    font-size: 0.9em;
    font-weight: lighter;
    margin: 20px 0;
}

#searchbar {
    max-width: 275px;
    margin: 0;
}

.filterContainer {
    margin: 0 0 7px;
    font-size: 0.8em;
}

.filterContainer label {
    margin: 0 15px 0 0;
}


/* 

New Listing Form Styling 

*/
.newListingContainer {
    grid-column: 2;
    background-color: var(--white);
    padding: 20px;
    border: 1px solid var(--lightgrey);
}

#newListing {
    display: grid;
    grid-template-columns: 50% 50%;
}

label {
    margin: 0 0 10px;
}

input, select {
    font-size: 1em;
    padding: 3px;
    margin: 0 0 5px;
}

#newListing [type='submit'] {    
    padding: 10px;
    margin: 20px auto 0px;

    grid-column: span 2;
}

.newListingContainer .reply {
    grid-column: span 2;
    margin: 20px 0;
}

.hidden {
    display: none;
}



/* Footer Styling */
footer {
    height: 50vh;
}