
/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #FFFEE0;
  --primaryShadow: #E3D9BA;
  --secondaryColor: #5a4a42;
  --accentColor: #D89459;
  --logoFont: 'Rock Salt';
  --font: 'Ubuntu Mono';
}

body {
  background-color: white;
  color: var(--secondaryColor);
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  justify-content: center;

} 


/* Header Styling */
header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 15px;
  border-bottom: 1px solid var(--secondaryColor);
}

.logo {
  display: flex;
  align-items: center;
}

header h1 {
  font-family: 'Rock Salt', Arial;
  font-size: 1rem;
  padding-left: 10px;
}

header img {
  margin-left: 15px;
  width: 30px;
  height: 30px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  margin: 0 0 0 15px;
  display: inline;
}

header nav a {
  color: black;
}






button {
  background-color: var(--accentColor);
  color: white;
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1rem 2rem;
  border: none;
}

button:hover {
  cursor: pointer;
}


/* 
PROMO SECTION
*/
.quote-container {
  margin: 20px auto 40px;
  width: max-content;
}

.quote-container > p {
  margin: 0 0 5px 15px;
}

.quote {
  padding: 2rem;
  max-width: 700px;
  height: 200px;
  background-color: var(--primaryColor);
  box-shadow: 7px 7px 0 var(--primaryShadow);
}

.quote p {
  text-align: end;
  margin: 20px 0 0;
}

.quote-container q {
  font-size: 2rem;
}



.promo-container > blockquote {
  font-size: 2rem;
}


.promo-container {
  margin: 20px 0 0;
}

.image-container {
  max-width: 700px;
  min-width: 600px;
  flex: 3;
}

picture img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.promo {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.promo-info {
  flex: 2;
  max-width: 400px;
  background-color: var(--primaryColor);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.promo-info :where(h3, p) {
  max-width: 400px;
  padding: 0 0 20px;
}

.promo-info button {
  margin: 20px 0 0;
}

h3 {
  font-size: 1.5rem;
}



/* Order Page Styling */
.order > nav {
  margin: auto;
  max-width: 600px;
}

.order > nav > button {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  position: relative;
  top: 1px;
  border-left: 1px solid var(--secondaryColor);
  border-top: 1px solid var(--secondaryColor);
  border-right: 1px solid var(--secondaryColor);
}

.order {
  width: 80%;
  margin: 40px auto;
}

.customization-container {
  width: 600px;
  background-color: var(--primaryColor);
  padding: 2rem;
  border: 1px solid var(--secondaryColor);
  margin: auto;
}


.customization-section {
  padding: 1rem 0;
}

.customization-section > p {
  padding: 0 0 1rem;
}
.customization-section > div {
  margin: 0.3rem 0;
}

.customize > h2 {
  margin: 0 0 1rem;
}


.price-display {
  margin: 1rem 0 2rem;
}

.price-banner {
  font-size: 3rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--accentColor);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.hidden {
  display: none;
}


/* Specials Styling */
.specials .orderAdd {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

#specials {
  text-decoration: underline;
}

.special-card {
  margin: 0 0 2rem;
}

.special-card :where(h3, p) {
  margin: 0 0 0.7rem;
}


/* Footer Styling */
footer {
  height: 10vh;
  
}