
/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #FFFEE0;
  --primaryShadow: #E3D9BA;
  --secondaryColor: #5a4a42;
  --accentColor: #D89459;
  --logoFont: 'Rock Salt';
  --font: 'Ubuntu Mono';
}

body {
  background-color: white;
  color: var(--secondaryColor);
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  position: relative;
} 


/* Header Styling */
header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  padding: 0 15px;
  border-bottom: 1px solid var(--secondaryColor);
}

a:has(.logo) {
  text-decoration: none;
  color: var(--secondaryColor)
}



.logo {
  display: flex;
  align-items: center;
}

header h1 {
  font-family: 'Rock Salt', Arial;
  font-size: 1rem;
  padding-left: 10px;
}

header img {
  margin-left: 15px;
  width: 30px;
  height: 30px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  margin: 0 0 0 15px;
  display: inline;
}

header nav a {
  color: black;
}






button {
  background-color: var(--accentColor);
  color: white;
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1rem 2rem;
  border: none;
}

button:hover {
  cursor: pointer;
}


/* 
PROMO SECTION
*/
.quote-container {
  margin: 20px auto 40px;
  width: max-content;
}

.quote-container > p {
  margin: 0 0 5px 15px;
}

.quote {
  padding: 2rem;
  max-width: 700px;
  height: 200px;
  background-color: var(--primaryColor);
  box-shadow: 7px 7px 0 var(--primaryShadow);
}

.quote p {
  text-align: end;
  margin: 20px 0 0;
}

.quote-container q {
  font-size: 2rem;
}



.promo-container > blockquote {
  font-size: 2rem;
}


.promo-container {
  margin: 20px 0 0;
}

.promo-container:nth-child(even) > div {
  flex-direction: row-reverse;
}

.image-container {
  max-width: 700px;
  min-width: 600px;
  flex: 3;
}

picture img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.promo {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.promo-info {
  flex: 2;
  max-width: 400px;
  background-color: var(--primaryColor);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.promo-info :where(h3, p) {
  max-width: 400px;
  padding: 0 0 20px;
}

.promo-info button {
  margin: 20px 0 0;
}

h3 {
  font-size: 1.5rem;
}



/* Order Page Styling */
.order > nav {
  margin: auto;
  max-width: 600px;
  display: flex;
  gap: 3px;
}

.order > nav button {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  position: relative;
  top: 1px;
  border-left: 1px solid var(--secondaryColor);
  border-top: 1px solid var(--secondaryColor);
  border-right: 1px solid var(--secondaryColor);
  font-size: 1.2rem;
  z-index: 1;
}

.order > nav > div {
  position: relative;
}

#cartCount {
  position: absolute;
  background-color: red;
  color: white;
  z-index: 3;
  top: -5px;
  right: -5px;
  padding: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
}



.order {
  width: 80%;
  margin: 40px auto;
}

.customization-container {
  width: 600px;
  background-color: var(--primaryColor);
  padding: 2rem;
  border: 1px solid var(--secondaryColor);
  margin: auto;
  position: relative;
  z-index: 2;
}




.customization-section {
  padding: 1rem 0;
}

/* .customization-section > p {
  padding: 0 0 1rem;
}
 */

:where(.customization-section, .summary) :where(p) {
  padding: 0 0 1rem;
}

:where(.customization-section, .summary, .customerDetails) :where(div) {
  margin: 0.3rem 0;
}

:where(.customize, .summary) > h2 {
  margin: 0 0 1rem;
}

input, select {
  font-family: inherit;
  padding: 3px;
}

.order button:not(.order nav button) {
  padding: 0.5rem 1rem;
}



.price-display {
  margin: 1rem 0 2rem;
}

.price-banner {
  font-size: 3rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--accentColor);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.hidden {
  display: none;
}

.order nav button.active {
  text-decoration: underline;
  z-index: 3;
}




/* Specials Styling */
.specials {
  display: none;
}

.customize {
  display: none;
}

.summary {
  display: none;
  
}

.active:where(.specials, .customize, .summary) {
  display: block;
}


.special-card {
  margin: 0 0 3rem;
}

.special-card :where(h3, p) {
  margin: 0 0 0.7rem;
}


/* Footer Styling */
footer {
  position: absolute;
  bottom: 0;
  left: 0;  
  padding: 0.5rem;
  width: 100%;
}


@media only screen and ()